h1 {
  color: red;
}
h2 {
  color: green;
}
h3 {
  color: #0e10b2;
}
.important-block {
  width: 200px;
  height: 100px;
  background-color: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.important-block p {
  color: white;
}
.important-block ul#some-id.some-class {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.important-block ul#some-id.some-class li {
  color: purple;
  font-weight: bold;
}
.important-block .some-div .important {
  color: purple;
  text-transform: uppercase;
}
.important-block .event-information img {
  border: 1px solid green;
}
p {
  color: #0e10b2;
}
